# Ignore globally

Makefile
Makefile.in
.*.swp

# Ignore just in the toplevel dir

/download

# autotools stuff

/ChangeLog
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/install-sh
/intltool-extract
/intltool-merge
/intltool-update
/missing

# external source files
/src/biblio.*
/src/extras-3.*
/src/GSI_*.sdf.*
/src/OOo_*_src_*
/src/scsolver.*
/src/setup_native_packinfo-*
/src/unowinreg.*
